@tailwind base;
@tailwind components;
@tailwind utilities;

.active_sidelink {
  background: linear-gradient(to right, #5c463b, #291d17, #0a0807, #040404);
  color: #d4d4d8;
  border-left: 2px solid #a4816f;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.after {
  &::before,
  &::after {
    content: "";
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bg-grad {
  background: linear-gradient(to right, #5c463b, #291d17, #291d17, #5c463b);
}
@layer utilities {
  .bank_header {
    @apply w-full h-[6%] md:h-[8%] flex justify-between items-center pb-3;
  }
  .bank_content {
    @apply;
  }
}
